{% extends 'layout.html.twig' %}

{% block title %}
    Les utilisateurs
{% endblock %}

{% block content %}
    <div class="container mt-5 sticky-footer">
        <div class="row col-md-12 col-md-offset-2 custyle">
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Rôles</th>
                {# <th>Articles reliés à la catégorie</th> #}
                <th class="text-center">Action</th>
            </tr>
        </thead>
        {% for user in users %}
                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_promoteadmin', {id: user.id}) }}" class="btn btn-primary m-1">Promouvoir admin</a>
                        <a href="{{ path('app_removeadmin', {id: user.id}) }}" class="btn btn-info m-1">Retirer rôle admin</a>
                        <a href="{{ path('app_userdelete', {id: user.id}) }}" class="btn btn-danger m-1" onclick="return confirm('Es-tu sur de vouloir supprimer cet article?')">Supprimer</a>
                    </td>
                </tr>
        {% endfor %}
        </table>
        </div>
    </div>
    
{% endblock %}