{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}

<header>

<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('home') }}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_articles') }}">Les articles</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin Dashboard
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path('app_users') }}">Les utilisateurs</a>
              <a class="dropdown-item" href="{{ path('app_categories') }}">Les catégories</a>
              <a class="dropdown-item" href="{{ path('app_createarticle') }}">Créer un article</a>
            </div>
          </li>
          
        </ul>
        
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
          <ul class="navbar-nav ml-auto flex-nowrap">
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
          {% else %}
            <li class="nav-item ml-auto">
              <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-auto" href="{{ path('app_register') }}">Créer un compte</a>
            </li>
          {% endif %}
          </ul>
        </div>
        
      </div>
    </div>
  </nav>
<!-- END NAVABR -->

  <!-- SECONDE NAVBAR POUR CATEGORIES -->
{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
    {% for category in categories %}
      <a class="nav-item nav-link" href="{{ path('app_categorie', {id: category.id}) }}">{{ category.label }}</a>
    {% endfor %}
    </div>
  </div>
</nav> #}
<!-- FIN CATEGORIE NAVBAR -->

</header>

<main>
    {% block content %}
  
    {% endblock %}
</main>

<footer>

</footer>

{% endblock %}