{% extends 'layout.html.twig' %}

{% block title %}
    Article {{ article.titre }}
{% endblock %}

{% block content %}
  <div class="container-fluid mt-5 mb-5 ml-5">
    <div class="row align-items-center">
      <figure class="col-3 mr-4">
        <img src="{{ asset('images/articles/' ~ article.image) }}" alt="article-img" style="max-width:400px;">
      </figure>
      <div class="article col-6 ml-5">
        <h2>{{ article.titre }}</h2>
        <small>{{ article.dateCreation | date('d/m/Y') }}</small>
        <p>{{ article.contenu }}</p>
      </div>
    </div>
  </div>
{% endblock %}