{% extends 'layout.html.twig' %}

{% block title %}
    Les articles
{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                {% for categorie in categories %}
                    <a class="nav-item nav-link text-white" href="{{ path('app_categorie', {id: categorie.id}) }}">
                        {{ categorie.label }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </nav>

    {% if(is_granted('ROLE_ADMIN')) %}
        <div class="container-fluid mt-5 mb-5 ml-5 text-center">
            <a href="{{ path('app_createarticle') }}" class="btn btn-primary">+ Ajouter un nouvel article</a><br>
        </div>
    {% endif %}

    <div class="container-fluid mt-5 mb-5">
        <div class="row justify-content-center">
            {% for article in articles %}
                <div class="card col-sm-12 col-lg-3 col-md-6 m-2">
                    <div class="card-body">
                    {% if article.image != NULL %}
                        <img class="card-img-top mb-2" src=" {{ asset('images/articles/' ~ article.image) }}" alt="Card image cap" style="max-height: 300px;">
                    {% endif %}
                        <h5 class="card-title">{{ article.titre }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ article.dateCreation | date('d/m/Y')}}</h6>
                        {% for category in article.categories %}
                            <a href="{{ path('app_categorie', {id: category.id}) }}"><small class="text-muted">{{ category }}</small></a>
                        {% endfor %}
                        <p class="card-text">{{ article.contenu | slice(0, 150)}}
                            <a href="{{ path('app_article', {'id': article.id} ) }}" classe="lire-la-suite">... Lire la suite</a>
                        </p>
                        {% if(is_granted('ROLE_ADMIN')) and (app.user.email == article.user.email) %}
                            <a href="{{ path('app_articleupdate', {id: article.id}) }}" class="card-link text-primary">Editer</a>
                            <a href="{{ path('app_articledelete', {id: article.id}) }}" class="card-link text-danger" onclick="return confirm('Es-tu sur de vouloir supprimer cet article?')">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
